<style>
  .table-s {
    position: relative;
    left: 150px;
  }
  .line {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }
</style>

<div class="container table-s">
  <div class="line">
    <h1 class="">Student List</h1>
    <a href="/create-student" class="btn btn-primary">Add New Student</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Class</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(function(student, index) { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.email %></td>
        <td><%= student.gender %></td>
        <td><%= student.grade %></td>
        <td>
          <a href="/student/<%= student._id %>" class="btn btn-info btn-sm"
            >View</a
          >
          <a
            href="/students/<%= student._id %>/edit"
            class="btn btn-warning btn-sm"
            >Edit</a
          >
          <form
            action="/students/<%= student._id %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
